@media screen and (max-width: 1100px) {
  .header__wrapper .header-contacts,
  .header__wrapper .socials--header,
  .menu-title {
    display: none;
  }
  .menu-title-mobile {
    display: block;
  }
  .menu-main-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .get-city-mobile {
    display: none;
  }
  .socials--menu {
    display: flex;
  }
  .header-contacts--menu {
    display: block;
    padding: 0;
  }
  .header-contacts--menu .header-contacts__link {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .socials--menu .socials__item {
    margin: 0 5px;
  }
  .get-city {
    margin-left: 35px;
  }
  .footer-logo__block {
    order: 1;
    width: auto;
    width: 50%;
  }
  .socials--footer {
    order: 2;
    width: 50%;
    justify-content: flex-start;
  }
  .socials--footer a {
    margin: 0 20px 0 0;
    flex-shrink: 0;
  }
  .footer {
    background-size: 300px 200px;
  }
  .footer__flex {
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
  }
  .footer-address {
    margin: 0;
    order: 3;
    width: 50%;
  }
  .footer-contacts {
    margin: 0;
    width: 50%;
    order: 4;
  }
  .copyright {
    order: 5;
    width: 100%;
  }
  .popup-block--region {
    width: 700px;
    padding-right: 20px;
  }
  .popup-region__list_block {
    columns: 2;
  }

  .price__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .price__form {
    margin: 0 auto;
  }
  .price-left {
    padding-top: 50px;
    order: 2;
    width: 100%;
  }
  .user {
    width: 50%;
  }
  
  .calc {
    padding: 90px 100px 80px;
  }
  .check-img img {
    width: 115px;
    height: 115px;
  }
  .check-img {
    height: 115px;
  }
  .check--big {
    padding: 20px;
  }
  .calc-block {
    padding: 30px;
  }
  .checks-list {
    margin-left: -15px;
  }
  .user.in-slider .user__container {
    width: 280px;
    margin: 0 auto;
  }
  .user.in-slider {
    margin: 0 0 130px;
  }
  .team-list .slick-arrow {
    bottom: 50px;
    top: auto;
  }
  .team-list .slick-prev {
    left: calc(50% - 95px)
  }
  .team-list .slick-next {
    right: calc(50% - 95px)
  }
  .user-slider-dots {
    position: relative;
  }
  .user-slider-dots.active {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.1em;
    color: #4F4F4F;
    top: -90px;
  }
  .header {
    position: fixed;
    z-index: 90;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 0;
    background: #ffffff;
    margin: 0;
  }
  .header.active {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.11);
  }
  .header .wrapper {
    padding-left: 0;
  }
  .header.active .btn--header {
    box-shadow: none;
  }
  body {
    padding-top: 100px;
  }


}