@media screen and (max-width: 767px) {
  .menu-footer {
    display: block;
    padding: 15px;
    margin-top: 10px;
    border-top: 1px solid rgba(51, 51, 51, .2);
  }
  .menu-main {
    height: calc(100% - 175px);
    padding-right: 0;
  }
  .menu-main__container {
    padding: 0 15px;
  }
  .menu-title-mobile {
    font-size: 30px;
  }
  .menu-close {
    top: 10px;
    left: 15px;
  }
  .menu-header .socials--menu {
    display: none;
  }
  .get-city {
    display: none;
  }
  .menu-header {
    justify-content: flex-end;
    height: 85px;
    border-bottom: 1px solid rgba(51, 51, 51, .2);
  }
  .get-city-mobile {
    display: block;
    font-size: 14px;
  }
  .get-city::before {
    width: 20px;
    height: 20px;
    left: -25px;
  }
  .menu-main-mobile {
    margin-bottom: 15px;
  }
  .menu-item__link {
    height: 50px;
    font-size: 14px;
    padding-left: 20px;
  }
  .menu-item__link2 {
    min-height: 30px;
    height: auto;
    font-size: 14px;
  }
  .footer {
    padding: 40px 0;
    background-size: 180px 140px;
  }
  .footer-logo__block {
    width: 100%;
    margin-bottom: 15px;
  }
  .footer-logo {
    font-size: 36px;
  }
  .socials--footer {
    order: 5;
    width: 100%;
  }
  .copyright {
    order: 6;
    padding-top: 20px;
  }
  .up {
    width: 60px;
    height: 60px;
    top: -25px;
    right: 0px;
    background-size: 23px 32px;
  }
  .footer-address {
    width: 100%;
    margin-bottom: 20px;
    font-size: 10px;
  }
  .footer-address br {
    display: none;
  }
  .menu-btn {
    width: 75px;
    height: 75px;
  }
  .logo {
    font-size: 36px;
  }
  .btn--header {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 0;
    color: transparent;
    background: url(../images/icons.svg#phone-white) no-repeat center, #FFAB01;
    background-size: 30px 30px;
  }
  .popup-block {
    width: 320px;
    border-radius: 0;
    padding: 140px 15px;
  }
  .popup-block--call::before {
    top: -65px;
    left: -105px;
  }
  .popup-block--call::after {
    bottom: -50px;
    right: -60px;
  }
  .popup-content {
    border-radius: 0;
  }
  .popup-block--region {
    width: 320px;
    padding: 25px 10px 20px 30px;
    border-radius: 0;
  }
  .popup-region__list_block {
    columns: 1;
  }
  .popup-close {
    top: 25px;
    right: 25px;
  }
  .popup-region__title {
    font-size: 20px;
  }
  .popup-region__list_letter {
    font-size: 18px;
  }
  .popup-region__list_block li {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .popup-region__list_block {
    margin-bottom: 20px;
  }
  .popup-block--region::before {
    width: 160px;
    height: 130px;
    bottom: 0;
    left: -15px;
  }
  .popup-block--region::after {
    top: 0;
    right: -15px;
    width: 300px;
    height: 225px;
  }
  .banner-shape1,
  .banner-shape2 {
    display: none;
  }
  .banner-title span {
    font-size: 20px;
  }
  .banner-title strong {
    font-size: 30px;
  }
  .banner-title strong::after {
    height: 10px;
    bottom: 2px;
  }
  .banner__wrapper {
    padding-top: 35px;
  }
  .calc-title {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .calc {
    padding: 60px 100px 50px;
  }
  .calc-block {
    padding: 20px 15px;
    border-radius: 20px;
  }
  .calc-step-count {
    font-size: 10px;
    margin-right: 15px;
  }
  .calc-step-line {
    height: 16px;
  }
  .calc-step-line i {
    height: 8px;
  }
  .calc-header {
    margin-bottom: 20px;
  }
  .calc-step {
    text-align: center;
  }
  .calc-step-title {
    font-size: 14px;
  }
  .calc-step-title::before {
    height: 8px;
  }
  .check--big {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
  }
  .checks-list {
    margin: 0;
  }
  .step-columns {
    display: block;
  }
  .step-column {
    width: 100%;
  }
  .step-block__title {
    text-align: left;
    font-size: 14px;
  }
  .check-text,
  .checkbox-text {
    font-size: 10px;
    padding-top: 4px;
  }
  .check-custom,
  .checkbox-custom {
    width: 20px;
    height: 20px;
  }
  .check input:checked ~ .check-block .check-custom::before {
    width: 10px;
    height: 10px;
  }
  .check {
    margin-bottom: 10px;
  }
  .step-block {
    margin-bottom: 30px;
    text-align: left;
  }
  .drop {
    text-align: left;
  }
  .file__custom {
    width: 110px;
    height: 110px;
    font-size: 10px;
  }
  .calc-footer {
    flex-direction: column;
    align-items: center;
  }
  .calc-btn-prev {
    order: 2;
    margin: 10px 0 0;
  }
  .step-form__text {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .step-last {
    padding-top: 0;
    display: block;
  }
  .step-form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  .submit--step {
    margin-bottom: 10px;
  }
  .step-last-img {
    display: none;
  }
  .step-last-img-mobile {
    display: block;
    width: 100%;
    max-width: 250px;
    height: auto;
    margin: 0 auto 15px;
  }
  .about {
    padding: 50px 0;
  }
  .about-title {
    font-size: 30px;
  }
  .calc-step-title::before {
    height: 10px;
  }
  .about__text {
    font-size: 12px;
  }
  .about-slider {
    width: 300px;
    height: 280px;
  }
  .about-slider-item {
    height: 280px;
  }
  .about-content {
    padding-bottom: 10px;
  }
  .about-slider-nav {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  #about-slider-dots {
    display: none;
  }
  .about-slider-dots {
    width: 100%;
    position: relative;
  }
  .about-slider-dots__counters {
    position: absolute;
    width: 1px;
    display: flex;
    justify-content: center;
    bottom: -40px;
    left: calc(50%);
  }
  .about-slider-dots__span {
    font-size: 10px;
    margin-bottom: 20px;
  }
  .about-slider-arrow {
    margin: 0 37px;
  }
  .team {
    padding-top: 50px;
  }
  .price-left {
    padding-top: 30px;
  }
  .price__form {
    width: 100%;
    max-width: 570px;
    padding: 30px 10px;
  }
  .price__form_title {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .price__form_subtitle {
    font-size: 12px;
    margin-bottom: 30px;
    text-align: center;
    padding: 0 10px;
  }
  .price {
    padding: 50px 0 70px;
  }
  .team-list {
    padding-top: 10px;
  }
  .slick-slide .doc__img {
    width: 210px;
    height: 295px;
  }
  .doc__plash {
    width: 245px;
    top: 185px;
    left: calc(50% - 123px);
    padding: 130px 10px 20px;
  }
  .doc__plash_title {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .doc__plash_text {
    font-size: 10px;
  }
  .doc__plash::before { 
    top: -30px;
    left: -55px;
  }
  .doc-img-over {
    background-size: 60px 60px;
  }
  .docs-slider-dots {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.1em;
    color: #4F4F4F;
    top: -90px;
  }
  .doc {
    margin-bottom: 50px;
  }
  .docs-slider {
    padding: 0;
  }
  .docs-title {
    margin-bottom: 50px;
  }
  .footer-contacts {
    width: 100%;
  }
  .docs-slider  .slick-arrow {
    bottom: 50px;
    top: auto;
  }
  .docs-slider  .slick-prev {
    left: calc(50% - 95px)
  }
  .docs-slider .slick-next {
    right: calc(50% - 95px)
  }
  .docs-title .calc-step-title::before {
    display: none;
  }
  .docs {
    padding: 50px 100px 0;
  }
  .single-banner {
    padding-top: 0;
  }
  .single-banner .banner__wrapper {
    padding-top: 20px;
  }
  .single-title {
    font-size: 30px;
  }
  .single-title > span::before { 
    height: 10px;
    bottom: 2px;
  }
  .single-form-block {
    flex-wrap: wrap;
    justify-content: center;
  }
  .single-form {
    width: 100%;
    max-width: 400px;
  }
  .single-form__text {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .single-form__container {
    padding: 30px 20px 10px;
  }
  .single-banner-img-mobile {
    width: 100%;
    max-width: 400px;
    order: -1;
    margin: 0;
    padding: 0;
  }
  .single-banner-img::before {
    left: 0;
  }
  .what-user {
    float: none;
    width: 100%;
    max-width: 390px;
  }
  .what-list .what-title {
    display: none;
  }
  .what-title-mobile {
    display: block;
    width: 100%;
    text-align: center;
  }
  .what-user img {
    margin-bottom: 30px;
    left: 0;
  }
  .what-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .what-content p {
    font-size: 12px;
  }
  .what-content ol > li,
  .what-content ul > li {
    padding-left: 0;
    font-size: 14px;
  }
  .table strong {
    font-size: 14px;
  }
  table th, table td {
    padding: 10px 5px;
    font-size: 12px;
    height: 30px;
  }
  .wie-title-main {
    margin-bottom: 20px;
  }
  .wie__text {
    font-size: 12px;
  }
  .wie__flex {
    padding-top: 30px;
    align-items: center;
  }
  .wie-center, .wie-block {
    position: static;
    width: 100%;
    max-width: 400px;
  }
  .wie-plash, .wie-center {
    width: 100%;
  }
  .what-content ol ul > li::before { 
    margin-left: 0;
  }
  .wie-center {
    margin-bottom: 30px;
  }
  .wie-plash {
    height: 70px;
    position: relative;
  }
  .wie-plash-text,
  .wie-plash-num {
    font-size: 14px;
  }
  .wie-center-text {
    font-size: 12px;
  }
  .wie-plash::before {
    position: absolute;
    content: '';
    top: calc(50% - 3px);
    right: 15px;
    border-top: 7px solid #828282;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    transition: transform .2s ease-in-out;
  }
  .wie-plash.active::before,
  .wie-block-right .wie-plash.active::before {
    width: 0;
    height: 0;
    background: none;
    border-top-color: #FFAB01;
    transform: rotate(180deg);
    top: calc(50% - 3px);
  }
  .just {
    padding-top: 45px;
  }
  .just-title-mobile .just-title {
    font-size: 30px;
    margin-bottom: 40px;
    white-space: normal;
  }
  .wie-center__out img {
    width: 90%;
    max-width: 250px;
  }

  .just-left {
    float: none;
    margin: 0 auto 55px;
    width: 100%;
    max-width: 400px;
  }
  .just-left::before {
    margin: 0;
    width: 100%;
    min-width: 350px;
  }
  .just-text {
    font-size: 12px;
    margin-bottom: 15px;
  }
  .just-plash {
    padding: 35px 20px;
  }
  .just-plash__title {
    font-size: 14px;
  }
  .just-plash__text {
    font-size: 12px;
    margin-bottom: 20px;
  }
  .just__btn {
    font-size: 16px;
  }
  .single-calc-img {
    position: static;
    width: 100%;
    max-width: 400px;
  }
  .faq-wrapper {
    padding-top: 50px;
  }
  .faq-title {
    margin-bottom: 40px;
  }
  .faq-item__quest {
    font-size: 12px;
  }
  .faq-item__top i {
    width: 30px;
    height: 30px;
    font-size: 17px;
  }
  .faq-item__content p {
    font-size: 12px;
  }
  .faq-item__content {
    padding: 15px 15px 25px;
  }
  .faq-user1 {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  .faq-user1 .faq-user__img {
    width: 100%;
  }
  .faq-user-plash {
    width: 100%;
    max-width: 290px;
    margin: 0 auto;
  }
  .faq-user1 .faq-user-name {
    left: 44%;
  }
  .what-user-name {
    top: auto;
    bottom: -30px;
  }
  .open-float.visible {
    bottom: 0;
    top: auto;
    width: 320px;
    height: 40px;
    border-radius: 20px 20px 0 0;
    left: calc(50% - 160px);
  }
  .open-float span {
    transform: none;
    position: static;
    display: block;
    width: auto;
    padding: 12px 0 0 33px;
  }
  .open-float i {
    left: auto;
    right: 5px;
  }
  
  


}






@media screen and (max-width: 480px) {
  .float-wrap {
    width: 100%;
    border-radius: 0;
    padding: 35px 0px 25px 25px;
  }
  .float-container {
    max-height: calc(100vh - 60px);
    padding: 0 25px 30px 0;
  }
  .float-top {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-bottom: 30px;
  }
  .float-img {
    margin-right: 15px;
    width: 95px;
    margin-bottom: 0;
  }
  .input--float {
    height: 50px;
  }
  .submit--float {
    font-size: 16px;
  }
  .float-img img {
    width: 100%;
    height: auto;
  }
  .float-close {
    width: 20px;
    height: 20px;
    top: 15px;
    right: 15px;
    left: auto;
    background: url(../images/icons.svg#popup-close) no-repeat center;
  }
  .float-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .float-user {
    width: 100px;
    margin: 0 10px 0 0;
  }
  .float-user .user__container::before {
    width: 116px;
    height: 142px;
    top: -6px;
    left: -5px;
  }
}










