@media screen and (max-width: 980px) {
  .just-title {
    display: none;
  }
  .just-title-mobile {
    display: block;
    text-align: center;
  }
  .just-title-mobile .just-title {
    display: inline-block;
    font-size: 36px;
    margin-bottom: 70px;
  }
  .just-plash {
    display: block;
    width: 100%;
  }
  .just-left {
    margin-bottom: 70px;
  }
  .just {
    padding-bottom: 80px;
  }
  .single-calc-img {
    width: 400px;
    height: auto;
  }
  .calc-single .calc-step {
    min-height: 400px;
  }
  .faq-list {
    order: -1;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }
  .faq-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .faq-user__img {
    width: 400px;
  }
  .faq-user1 {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .faq-user-plash {
    position: static;
  }
  .faq-user1 .faq-user-name {
    width: 200px;
    top: 90px;
    left: 230px;
    font-size: 14px;
  }
  .faq-wrapper {
    padding-bottom: 30px;
  }
  .what-title {
    font-size: 32px;
  }
  .calc-single .calc-footer {
    position: relative;
  }
  .faq-item {
    text-align: left;
  }
}